.heroImage {
  width: 100%;
  height: 696px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(<path-to-image>) lightgray 0px -192.086px / 100% 138.099% no-repeat;
}

.heroContainer {
  position: relative;
  width: 100%;
  height: auto;
}

.heroContent {
  position: absolute;
  top: 260px;
  left: 64px;
  color: var(--Inputs);
  font-style: normal;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.heroTitle {
  font-size: 48px;
  font-weight: 600;
  line-height: 0.67;
}

.heroText {
  line-height: 1.33;
}
