.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formField {
  display: flex;
  width: 527px;
  padding: 18px;
  border-radius: 10px;
  background: var(--Inputs, #f7f7f7);
  border: none;
  outline: none;
}

.formArea {
  display: flex;
  width: 527px;
  height: 118px;
  padding: 18px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
  background: var(--Inputs, #f7f7f7);
  border: none;
  outline: none;
  resize: none;
}

.error {
  color: var(--Button);
  font-size: 14px;
  margin-top: 5px;
}

.formButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}
